.top-navigation__link {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #03291e;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 15px;
	font-weight: 400;
	border-bottom: 1px solid #dcdcdc;
}