@font-face {
  font-family: "Jura";
  src: url("../../fonts/Jura-SemiBold.woff2");
}
@font-face {
  font-family: "Jura";
  src: url("../../fonts/jura-v9-cyrillic_latin-regular.woff2");
}
@font-face {
  font-family: "Cuprum";
  src: url("../../fonts/cuprum_[allfont.ru].woff2");
}
html,
header,
ul,
dl,
dd,
h1,
h2,
p,
.body {
  margin: 0;
  padding: 0;
}
img,
object {
  width: 100%;
  margin: 0;
  padding: 0;
}
.body {
  background-color: yellow;
}
.main__h1 {
  font-size: 30px;
  padding: 40px 0 40px 0;
  font-family: 'Jura', sans-serif;
  font-weight: 600;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10;
  -webkit-animation: fade 0.6s;
          animation: fade 0.6s;
  overflow: auto;
  font-family: "GostAStandard";
  font-size: 1.8em;
  padding-left: 3em;
  line-height: 3.3em;
  color: white;
}
.wrapper {
  width: 87.5%;
  margin: 0 auto;
}
.page-header {
  color: orange;
  width: 100%;
  height: 480px;
  background-color: #1b1b1b;
  background-image: url("../img/photo1-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.page-header__top {
  background-color: transparent;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__button {
  display: block;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 24px;
  background-image: url("../img/icon-menu-burger.svg");
  cursor: pointer;
}
.page-header__slogan {
  display: none;
}
.page-header__logo {
  text-decoration: none;
}
.page-header--activity {
  background-image: url("../img/Vaillant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.page-header__slogan-noindex {
  /*eight: 510px;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  transition: 1s;
}
.top-navigation--closed {
  display: none;
  background-color: transparent;
}
.page-header--closed-noindex {
  height: 280px;
}
@media screen and (min-width: 660px) {
  .page-header {
    background-image: url("../../img/photo1-tablet.jpg");
  }
}
.top-navigation__link {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #03291e;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid #dcdcdc;
}
.activity-h1 {
  margin: 0;
  font-size: 21px;
  margin-bottom: 30px;
}
.slogan__project {
  width: 100%;
  margin-left: 4%;
}
.slogan__term {
  display: none;
}
.slogan__link {
  font-size: 1.5em;
  text-decoration: none;
  color: #000;
}
.slogan__link:hover {
  color: #666;
}
.flecha {
  width: 30px;
  height: 50px;
  margin: 0 auto;
}
.main-activity {
  width: 90%;
  margin: 0 auto;
}
.bloks {
  background-color: #f0f0f0;
  padding-top: 25px;
}
.bloks-item {
  padding-bottom: 52px;
}
.bloks-item__h2 {
  font-size: 22px;
  padding: 10px 0 8px 0;
  font-family: 'Cuprum', arial;
  font-weight: 400;
}
.blocks-item__par {
  font-size: 15px;
  line-height: 18px;
  font-family: 'Jura', arial;
  font-weight: 400;
}
@media screen and (min-width: 660px) {
  .bloks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
  .bloks-item {
    width: 45%;
  }
}
