.slogan__project {
	width: 100%;
	//margin-left: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.slogan__def {
	//margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0 5px 0;
}
.slogan__term {
	display: none;
}
.slogan__link {
    width: 45%;
	font-size: 12px;/*1.5em*/
	text-decoration: none;
	color: #000;
	font-family: "Jura";
	font-weight: 500;
    border: 1px solid black;
    margin-bottom: 10px;
}
.slogan__link:hover {
	color: #666;
}